target
src/main/webapp/bower_components
node_modules
src/main/webapp/app/sass/main.scss
src/main/webapp/app/styles/main.scss.map
src/main/webapp/app/styles/main.css
src/main/webapp/app/styles/main.css.map
